@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu",
    "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:
    source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

.product-carousel-wrapper {
  position: relative;
  padding-bottom: 50px;
}

.product-carousel .slick-dots {
  bottom: -40px;
}

.product-carousel .slick-list {
  padding-top: 4px;
  padding-bottom: 4px;
}

.product-carousel .slick-track {
  display: flex !important;
  align-items: stretch;
}

.product-carousel .slick-slide {
  height: auto;
  display: flex !important;
}

.product-carousel .slick-slide > div {
  height: 100%;
  width: 100%;
  display: flex;
}

.product-carousel .slick-dots li button:before {
  color: #3b82f6;
  font-size: 12px;
}

.product-carousel .slick-dots li.slick-active button:before {
  color: #2563eb;
}

.product-carousel .slick-prev,
.product-carousel .slick-next {
  z-index: 10;
  width: 40px;
  height: 40px;
  background: transparent !important;
}

.product-carousel .slick-prev:before,
.product-carousel .slick-next:before {
  display: none !important;
}

@media (max-width: 768px) {
  .product-carousel .slick-prev {
    left: 5px;
    width: 32px;
    height: 32px;
  }

  .product-carousel .slick-next {
    right: 5px;
    width: 32px;
    height: 32px;
  }

  .product-carousel .slick-prev:before,
  .product-carousel .slick-next:before {
    font-size: 32px;
  }
}
